.alert-box { color:#555; border-radius:10px; font-family:Tahoma,Geneva,Arial,sans-serif;font-size:11px; padding:10px 10px 10px 36px; margin:10px 10px 0px; }
            .alert-box span { font-weight:bold; text-transform:uppercase; }
            .error { background:#ffecec; border:1px solid #f5aca6; }
