<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>

<!-- (Optional) Latest compiled and minified JavaScript translation files -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/i18n/defaults-*.min.js"></script>

  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.2.min.js"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static "css/addActivity.css" %}">
     <link rel="stylesheet" href="{% static "css/alertBox.css" %}">
    <script src="{% static "js/addActivity.js" %}" type="text/javascript"></script>

</head>

<body  style="background-color:#337ab7">

<nav class="navbar navbar-inverse ">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/home">GSE DASHBOARD</a>
    </div>
      </div>

</nav>
<form  method="post" onsubmit="return checkfun()">{% csrf_token %}

<table align="center" width="80%" width="50%" height="100%"  style="background-color:#dcd6ff; border-color: transparent"  >
    <tr>
        <div class="list">
        <td colspan="2" align="center" style="border-bottom: groove" height="10%">

               <h2>Activity Information</h2>

        </td>
            </div>

    </tr>
    <tr>
        <td align="left" valign="top" width="41%">
            <div class="list">
         <b>Activity Name:</b><br>
    <input type="text" name="Activity_Name" id="name" required>
    <div id="msgbx_err" class="alert-box error"><span id="name_status" ></span></div>
            </div>
        </td>

        <td align="left" valign="top" width="41%" >
            <div class="dropdown">
         <b>Activity-Type:</b><br>
  <select name="type" id="type" class="form-control" required>
      <option >NFV</option>
  <option>NON-NFV</option>
  <option>MISC</option>
</select>
                </div>
        </td>
    </tr>
    <tr>
        <td align="left" valign="top" width="41%">
            <div class="list">
         <b>Description:</b><br>
    <textarea rows="4" cols="20" name="Description"  id="text" required>None
</textarea>
        </div>
        </td>
        <td align="left" valign="top" width="41%">
            <div class="dropdown">
         <b>Region:</b><br>
  <select name="customer" class="form-control" required>
      <option >APJ</option>
      <option>China</option>
      <option>EMEA</option>
      <option>AMS</option>
      <option>WW</option>


  </select>
                </div>
        </td>
    </tr>
    <tr>
    <td align="left" valign="top" width="41%"></td>
    <td align="left" valign="top" width="41%">

    <b>Add-people:</b><br>
    <select name="Add_people" multiple id="abc" class="form-control">
        <option selected>Add-people</option>
    </select>

    </td>

    </tr>



    <tr>
        <td colspan="2">
        <p align="center">
        <input type="submit" id="save" value="Submit"class="btn btn-info pull-right" style="margin-right: 700px; margin-bottom: 40px"></tr>

</table>
</div>
</form>
</body>
</html>