<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.2.min.js"></script>`
  
<title>GSE DashBoard</title>
{% load static %}
<link rel="stylesheet" href="{% static "css/popup.css" %}">
<link rel="stylesheet" href="{% static "css/dropdown.css" %}">
<link rel="stylesheet" href="{% static "css/frontbox.css" %}">
<link rel="stylesheet" href="{% static "css/pageDivideBox.css" %}">
<link rel="stylesheet" href="{% static "css/frontPeopleBox.css" %}">
<script src="{%  static "js/navigatorbar.js"%}" type="text/javascript"></script>
<script src="{%  static "js/people.js"%}" type="text/javascript"></script>
<script src="{%  static "js/nfv.js"%}" type="text/javascript"></script>
<script src="{%  static "js/nonNfv.js"%}" type="text/javascript"></script>
<script src="{%  static "js/misc.js"%}" type="text/javascript"></script>
<script src="{%  static "js/freeResources.js"%}" type="text/javascript"></script>

{% for c in check %}

<script>
    function div_show() {
	document.getElementById('pop').style.display = "block";
      var k=document.querySelector('option[value="{{ c }}"]').selected=true;

        console.log(k)
	}
	//Function to Hide Popup
	function div_hide(){
	document.getElementById('pop').style.display = "none";
	}</script>

     <script>
    $(document).ready(function() {
        $.post({
            url: "/fronttype/NFV/",
            data: {},
            success: function (json) {
                //alert(json);

                console.log(JSON.stringify(json));
                //var t = JSON.stringify(json);
                var t = jQuery.parseJSON(JSON.stringify(json))
                var arr = [];
                for (var i in t) {
                    arr.push(t[i]);
                }
                arr.sort();
                //alert(arr);

                console.log(arr);
                for (var j in arr) {
                    var row = $('<tr>')
                    row.append('<td><div id="box"><a href=\"activity_detail/' + arr[j] + '\">' + arr[j] + '</a></div></td>');
                    k=arr[j];
                    $.post({
                        url: "/frontpeopletype/"+arr[j]+"/",
                        data: {},
                        async: false,
                        success: function (json) {
                            //alert(json);

                            console.log(JSON.stringify(json));
                            //var t = JSON.stringify(json);
                            var t = jQuery.parseJSON(JSON.stringify(json))
                            var a = [];
                            var cnt=[];
                             for (var i in t) {
                                cnt.push(t[i]);

                            }

                            for (var i in t) {
                                a.push(i);

                            }
                            //a.sort();


                            for (var k in a) {

                                if (cnt[k]>={{ c }})
                                      row.append('<td><div id="people_box" style="background-color:red"><a href=\"people_detail/' + a[k] + '\">' + a[k] + '</td>');
                                else
                                        row.append('<td><div id="people_box"><a href=\"people_detail/' + a[k] + '\">' + a[k] + '</td>');


                            }
                        }
                    })


                    //$('#table').append('<tr><td><div id="box"><a href=\"activity_detail/' + arr[j] + '\">' + arr[j] + '</a></div></td></tr>');

                    //for(var k in arr) {
                    //$('#boxs').append('<div id="people_box">people1</div>');

                    $('#table').append(row);


                }


            }
        })

    })
</script>
      <script>
    $(document).ready(function() {
        $.post({
            url: "/fronttype/NON-NFV/",
            data: {},
            success: function (json) {
                //alert(json);

                console.log(JSON.stringify(json));
                //var t = JSON.stringify(json);
                var t = jQuery.parseJSON(JSON.stringify(json))
                var arr = [];
                for (var i in t) {
                    arr.push(t[i]);
                }
                //alert(arr);
                arr.sort();
                console.log(arr);
                for (var j in arr) {
                    var row = $('<tr>')
                    row.append('<td><div id="box1"><a href=\"activity_detail/' + arr[j] + '\">' + arr[j] + '</a></div></td>');
                    k=arr[j];
                    $.post({
                        url: "/frontpeopletype/"+arr[j]+"/",
                        data: {},
                        async: false,
                        success: function (json) {
                            //alert(json);

                            console.log(JSON.stringify(json));
                            //var t = JSON.stringify(json);
                            var t = jQuery.parseJSON(JSON.stringify(json))
                            var a = [];
                            var cnt=[];

                             for (var i in t) {
                                cnt.push(t[i]);

                            }

                            for (var i in t) {
                                a.push(i);

                            }
                            // a.sort();

                            for (var k in a) {

                                if (cnt[k]>={{ c }})
                                      row.append('<td><div id="people_box" style="background-color:red"><a href=\"people_detail/' + a[k] + '\">' + a[k] + '</td>');
                                else
                                        row.append('<td><div id="people_box"><a href=\"people_detail/' + a[k] + '\">' + a[k] + '</td>');


                            }
                        }
                    })


                    //$('#table').append('<tr><td><div id="box"><a href=\"activity_detail/' + arr[j] + '\">' + arr[j] + '</a></div></td></tr>');

                    //for(var k in arr) {
                    //$('#boxs').append('<div id="people_box">people1</div>');

                    $('#table1').append(row);


                }


            }
        })

    })
</script>
      <script>
    $(document).ready(function(){

        $.post({
            url: "/fronttype/MISC/",
            data: {},
            success: function (json) {
                //alert(json);

                console.log(JSON.stringify(json));
                //var t = JSON.stringify(json);
                var t = jQuery.parseJSON(JSON.stringify(json))
                var arr = [];
                for (var i in t) {
                    arr.push(t[i]);
                }
                //alert(arr);
                 arr.sort();
                console.log(arr);
                for (var j in arr) {
                    var row = $('<tr>')
                    row.append('<td><div id="box2"><a href=\"activity_detail/' + arr[j] + '\">' + arr[j] + '</a></div></td>');
                    k=arr[j];
                    $.post({
                        url: "/frontpeopletype/"+arr[j]+"/",
                        data: {},
                        async: false,
                        success: function (json) {
                            //alert(json);

                            console.log(JSON.stringify(json));
                            //var t = JSON.stringify(json);
                            var t = jQuery.parseJSON(JSON.stringify(json))
                            var a = [];
                            var cnt=[];

                             for (var i in t) {
                                cnt.push(t[i]);

                            }

                            for (var i in t) {
                                a.push(i);

                            }
                            //a.sort();
                            for (var k in a) {

                                if (cnt[k]>={{ c }})
                                      row.append('<td><div id="people_box" style="background-color:red"><a href=\"people_detail/' + a[k] + '\">' + a[k] + '</td>');
                                else
                                        row.append('<td><div id="people_box"><a href=\"people_detail/' + a[k] + '\">' + a[k] + '</td>');






                            }
                        }
                    })


                    //$('#table').append('<tr><td><div id="box"><a href=\"activity_detail/' + arr[j] + '\">' + arr[j] + '</a></div></td></tr>');

                    //for(var k in arr) {
                    //$('#boxs').append('<div id="people_box">people1</div>');

                    $('#table2').append(row);


                }


            }
        })

    })
</script>




</head>
<body>




<nav class="navbar navbar-inverse " style="margin-top: -20px;">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/home">GSE DASHBOARD</a>
    </div>
    <div class="dropdown" style="margin-top: 9px">
	<a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">List <span class="caret"></span></a>
	<ul class="dropdown-menu">
		<li>
			<a class="trigger right-caret" id="people">People</a>
			<ul class="dropdown-menu sub-menu" id="menu">
			
			</ul>
		</li>
		<li>
			<a class="trigger right-caret">Activity</a>
			<ul  class="dropdown-menu sub-menu">
				<li>
					<a class="trigger right-caret" id="nfv1">NFV </a>
					<ul class="dropdown-menu sub-menu" id="nfv">

					</ul>
				</li>
				<li>
					<a class="trigger right-caret" id="nonnfv1">Non NFV</a>
					<ul class="dropdown-menu sub-menu" id="nonnfv">

					</ul>
				</li>
				<li>
					<a class="trigger right-caret" id="misc1">MISC</a>
					<ul class="dropdown-menu sub-menu " id="misc">

					</ul>
				</li>
			</ul>
		</li>
        <li>
			<a class="trigger right-caret" id="freeresources">Free Resource</a>
			<ul class="dropdown-menu sub-menu" id="resource">

			</ul>
        </ul>
</div>
<div class="dropdown">
  <button class="btn btn-primary dropdown-toggle">ADD</button>
  <div class="dropdown-content">
    <a href="/add_activity">Add activity</a>
    <a href="/add_people">Add person</a>
  </div>
</div>
      <button class="btn btn-primary dropdown-toggle" style="float: right; margin: 10px 50px 10px 0px" id="popup" onclick="div_show()">SETTINGS</button>

      </div>
</nav>


<div style=" background-color:#eeeeee; color:black;margin-top: -20px;min-height: 350px" >
    <div style="height: 47px;width: 100%;border-bottom: 1px solid gray;float: left;margin-left: 20px">
    <h3>NFV</h3>
    </div>
    <div  class="nfv_box"><h4>Activity</h4></div>
    <div class="nfv_box"><h4>People</h4></div>

<table id="table">


</table>
</div>


</div>

<br>
<div style="background-color:#eeeeee; color:black; min-height: 350px">

<div style="height: 47px;width: 100%;border-bottom: 1px solid gray;float: left;margin-left: 20px">
    <h3>NON-NFV</h3>
    </div>
     <div  class="nfv_box"><h4>Activity</h4></div>
    <div class="nfv_box"><h4>People</h4></div>

<table id="table1">


</table>
</div>
<br>
<div  style="background-color:#eeeeee; color:black;min-height: 350px">

<div style="height: 47px;width: 100%;border-bottom: 1px solid gray;float: left;margin-left: 30px">
    <h3>MISC</h3>
    </div>
     <div  class="nfv_box"><h4>Activity</h4></div>
    <div class="nfv_box"><h4>People</h4></div>

<table id="table2">


</table>


</div>
<div id="pop">
<!-- Popup Div Starts Here -->
<div id="popupContact">
<!-- Contact Us Form -->
    <form  id="form"  method="POST" name="form">{% csrf_token %}
<button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="close" onclick ="div_hide()">&times;</button>
<h4>High Load Threshold </h4>
<hr><br>
        <label>Project Allocated:</label><br>
 <select name="Project_Allocated" id="Project_Allocated" class="form-control" required>
     <option value="1">1</option>
     <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
     <option value="6">6</option>
     <option value="7">7</option>
     <option value="8">8</option>
     </select>
        <br><br><br><br>


{% endfor %}
<input type="submit" id="submit" value="Change Settings">
        </form>
</div>
<!-- Popup Div Ends Here -->
</div>
</div>
</body>
</html>